# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv('../output_data/cityWeather.csv')
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,atuona,-9.8000,-139.0333,298.48,76,44,8.10,PF,1658618853
1,narsaq,60.9167,-46.0500,285.27,83,99,1.75,GL,1658618787
2,haines junction,60.7522,-137.5108,291.12,36,74,5.66,CA,1658618853
3,asau,46.4333,26.4000,297.01,70,55,1.52,RO,1658618556
4,arraial do cabo,-22.9661,-42.0278,295.39,87,6,9.44,BR,1658618586

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Lat and long
locations = df[["Lat", "Lng"]].astype(float)

humidity = df["Humidity"].astype(float)

# heat map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
"""Narrow down the DataFrame to find your ideal weather condition. For example:


A max temperature lower than 80 degrees but higher than 70.


Wind speed less than 10 mph.


Zero cloudiness.


Drop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.


Note: Feel free to adjust your specifications, but make sure to limit the number of rows returned by your API requests to a reasonable number."""

"Narrow down the DataFrame to find your ideal weather condition. For example:\n\n\nA max temperature lower than 80 degrees but higher than 70.\n\n\nWind speed less than 10 mph.\n\n\nZero cloudiness.\n\n\nDrop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.\n\n\nNote: Feel free to adjust your specifications, but make sure to limit the number of rows returned by your API requests to a reasonable number."

In [6]:
# A max temperature lower than 300 degrees but higher than 295 kelvin.
hotel_df = df.loc[(df['Max Temp'] < 300) & (df['Max Temp'] > 295) & (df['Wind Speed'] < 10) & (df['Cloudiness'] == 0)]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,rikitea,-23.1203,-134.9692,295.88,63,0,3.75,PF,1658618855
66,saint anthony,45.0205,-93.2180,299.20,73,0,6.69,US,1658618717
90,yinchuan,38.4681,106.2731,297.47,50,0,4.30,CN,1658618877
112,marsa matruh,31.3525,27.2453,298.03,77,0,3.27,EG,1658618884
197,praia da vitoria,38.7333,-27.0667,296.29,88,0,1.53,PT,1658618907
312,benicarlo,40.4165,0.4271,299.76,77,0,2.62,ES,1658618670
348,siderno,38.2779,16.3020,299.45,82,0,5.51,IT,1658618949
379,lompoc,34.6391,-120.4579,295.29,73,0,7.20,US,1658618957
393,birjand,32.8663,59.2211,299.41,31,0,3.09,IR,1658618962
395,manavgat,36.7867,31.4431,299.72,31,0,4.56,TR,1658618962
409,aranda de duero,41.6704,-3.6892,295.49,26,0,2.77,ES,1658618966
424,jalu,29.0331,21.5482,299.69,57,0,5.90,LY,1658618970
445,mizdah,31.4451,12.9801,295.76,50,0,5.33,LY,1658618976
479,gat,31.6100,34.7642,296.88,79,0,0.52,IL,1658618765
513,barcelona,41.3888,2.1590,299.85,74,0,1.36,ES,1658618767
516,surt,31.2089,16.5887,299.86,72,0,4.66,LY,1658618997
529,hazorasp,41.3194,61.0742,299.06,42,0,5.24,UZ,1658619001

In [7]:
hotel_df['Hotel Name'] = ''
hotel_df

/var/folders/4b/ltxykyrn7j9bt96tg5cjy76h0000gn/T/ipykernel_3236/2419251247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
10,rikitea,-23.1203,-134.9692,295.88,63,0,3.75,PF,1658618855,
66,saint anthony,45.0205,-93.2180,299.20,73,0,6.69,US,1658618717,
90,yinchuan,38.4681,106.2731,297.47,50,0,4.30,CN,1658618877,
112,marsa matruh,31.3525,27.2453,298.03,77,0,3.27,EG,1658618884,
197,praia da vitoria,38.7333,-27.0667,296.29,88,0,1.53,PT,1658618907,
312,benicarlo,40.4165,0.4271,299.76,77,0,2.62,ES,1658618670,
348,siderno,38.2779,16.3020,299.45,82,0,5.51,IT,1658618949,
379,lompoc,34.6391,-120.4579,295.29,73,0,7.20,US,1658618957,
393,birjand,32.8663,59.2211,299.41,31,0,3.09,IR,1658618962,
395,manavgat,36.7867,31.4431,299.72,31,0,4.56,TR,1658618962,
409,aranda de duero,41.6704,-3.6892,295.49,26,0,2.77,ES,1658618966,
424,jalu,29.0331,21.5482,299.69,57,0,5.90,LY,1658618970,
445,mizdah,31.4451,12.9801,295.76,50,0,5.33,LY,1658618976,
479,gat,31.6100,34.7642,296.88,79,0,0.52,IL,1658618765,
513,barcelona,41.3888,2.1590,299.85,74,0,1.36,ES,1658618767,
516,surt,31.2089,16.5887,299.86,72,0,4.66,LY,1658618997,
529,hazorasp,41.3194,61.0742,299.06,42,0,5.24,UZ,1658619001,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
# geocoordinates
target_search = "Hotel"
target_radius = 10000
target_type = "tourist_attraction"

params = {
"keyword": target_search,
"radius": target_radius,
"type": target_type,
"key": g_key
}


# loop through coordinates to find hotels
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city = row['City']
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # base url 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_info = requests.get(base_url, params=params)

    # convert to json
    hotel_info = hotel_info.json()

    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_info["results"][0]["name"]
        print(f'Found hotel in {city}, here it is: {hotel_info["results"][0]["name"]}')

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Found hotel in rikitea, here it is: Cathedral of St. Michael Rikitea
Found hotel in saint anthony, here it is: Foshay Museum and Observation Deck
Missing field/result... skipping.
Found hotel in marsa matruh, here it is: شاليهات بورتو مطروح
Found hotel in praia da vitoria, here it is: Miradouro da Serra do Cume
Found hotel in benicarlo, here it is: Peniscola Castle
Found hotel in siderno, here it is: Castello Carafa di Roccella Jonica
Missing field/result... skipping.
Missing field/result... skipping.
Found hotel in manavgat, here it is: Lake and River Side Private Beach
Found hotel in aranda de duero, here it is: Bodega y Viñedos Pradorey
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Found hotel in barcelona, here it is: Torre de la Pasión
Missing field/result... skipping.
Missing field/result... skipping.

In [17]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
10,rikitea,-23.1203,-134.9692,295.88,63,0,3.75,PF,1658618855,Cathedral of St. Michael Rikitea
66,saint anthony,45.0205,-93.2180,299.20,73,0,6.69,US,1658618717,Foshay Museum and Observation Deck
90,yinchuan,38.4681,106.2731,297.47,50,0,4.30,CN,1658618877,
112,marsa matruh,31.3525,27.2453,298.03,77,0,3.27,EG,1658618884,شاليهات بورتو مطروح
197,praia da vitoria,38.7333,-27.0667,296.29,88,0,1.53,PT,1658618907,Miradouro da Serra do Cume
312,benicarlo,40.4165,0.4271,299.76,77,0,2.62,ES,1658618670,Peniscola Castle
348,siderno,38.2779,16.3020,299.45,82,0,5.51,IT,1658618949,Castello Carafa di Roccella Jonica
379,lompoc,34.6391,-120.4579,295.29,73,0,7.20,US,1658618957,
393,birjand,32.8663,59.2211,299.41,31,0,3.09,IR,1658618962,
395,manavgat,36.7867,31.4431,299.72,31,0,4.56,TR,1658618962,Lake and River Side Private Beach
409,aranda de duero,41.6704,-3.6892,295.49,26,0,2.77,ES,1658618966,Bodega y Viñedos Pradorey
424,jalu,29.0331,21.5482,299.69,57,0,5.90,LY,1658618970,
445,mizdah,31.4451,12.9801,295.76,50,0,5.33,LY,1658618976,
479,gat,31.6100,34.7642,296.88,79,0,0.52,IL,1658618765,
513,barcelona,41.3888,2.1590,299.85,74,0,1.36,ES,1658618767,Torre de la Pasión
516,surt,31.2089,16.5887,299.86,72,0,4.66,LY,1658618997,
529,hazorasp,41.3194,61.0742,299.06,42,0,5.24,UZ,1658619001,

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Display figure
fig.add_layer(markers)
                             
fig

Figure(layout=FigureLayout(height='420px'))